 <div class = "container" id="game-page-container">

<!-- Waiting room -->
  <div class="row">
   <div class="waiting-room col-xs-12">
    <h2>Welcome <span id="username"><%= username %></span></h2>
    <div class="row">
      <div class="player-list col-xs-3">
        <p>Players:</p>
      </div>


      <div id="hand-count" class="card">
        <div class="second-hand-count">
          <i id="up-arrow" class="fa fa-sort-asc fa-5x"></i>
          <h1 id="count">5</h1>
          <i id="down-arrow" class="fa fa-sort-desc fa-5x"></i>
        </div>
      </div>

    </div>
  <div class="start-game">
    <button class="btn btn-default" id="start-game-btn">Start Game</button>
  </div>
  </div>
</div>


<!-- Active Game -->

<div class="row">

<div class="active-game col-xs-12" style="display: none">
  <div class="table-container">
    <div class= "col-xs-12">
      <div class="table-buttons"></div>
      <div class = "tableclass"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-col-md-2 hand-buttons-view">
      <div class="draw-card-buttons" style="display: none">
        <button class="btn btn-default" id="table-draw-card">Draw Card to Table</button>
        <button class="btn btn-default" id="draw-card">Draw Card</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="table col-md-8 offset-col-md-2 passing-player-list" style="display: none">
      <p>Pass card to player: </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 player-hand">
      <p>Your Hand:</p>
    </div>
  </div>
</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/socket_magic.js"></script>
<script>
var userData = {
  username: "<%= username %>",
  roomkey: "<%= roomkey %>",
}
</script>
