<div class="sweet-container">
  <div class="all-game-container"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/socket_magic.js"></script>
<script>
var userData = {
  username: "<%= username %>",
  roomkey: "<%= roomkey %>",
}
</script>
