<div class="sweet-container">
  <div class="all-game-container"></div>

  <div class="help-menu">
    <p>Instructions:</p>
    <ul>
      <li>Select a card to make it active for movement.</li>
      <li>Double tap a card to flip.</li>
      <li>Flick to flip all cards.</li>
    </ul>
  </div>

  <div class="help-button-container">
    <a class="help-button" href="#">Help</a>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/socket_magic.js"></script>
<script>
var userData = {
  username: "<%= username %>",
  roomId: "<%= roomId %>",
}
</script>
<!-- Player/PlayerList Views -->
<script src="/public/models/player.js"></script>
<script src="/public/collections/player_list.js"></script>
<script src="/public/views/current_player_view.js"></script>
<script src="/public/views/passing_player_view.js"></script>
<script src="/public/views/current_players_view.js"></script>
<script src="/public/views/passing_players_view.js"></script>
<!-- Header Views -->
<script src="/public/views/header_view.js"></script>
<!-- Game Views -->
<script src="/public/views/waiting_room_view.js"></script>
<script src="/public/views/game_room_view.js"></script>
<script src="/public/init.js"></script>
