<div class="sweet-container">
  <div class="all-game-container"></div>

  <div class="help-menu">
    <p>Instructions:</p>
    <ul>
      <li>Select a card to make it active for movement.</li>
      <li>Double tap a card to flip.</li>
      <li>Flick to flip all cards.</li>
    </ul>
  </div>

  <div class="help-button-container">
    <a class="help-button" href="#">?</a>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/socket_magic.js"></script>
<script>
var userData = {
  username: "<%= username %>",
  roomkey: "<%= roomkey %>",
}
</script>
