<h1> THE GAME </h1>
<p>Welcome <span id="username"><%= username %></span></p>
<p>You are in the room: <span id="roomkey"><%= roomkey %></span></p>
<p>Players in the game:</p>
<ul>
  <div class="player-list">
  </div>
</ul>

<button id="deal">Deal them cards</button>

<p>Your cards are:</p>
<div class="player-hand">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/socket_magic.js"></script>
<script>
  var userData = {
    username: "<%= username %>",
    roomkey: "<%= roomkey %>"
  }
</script>
<script type="text/template" id="handTemplate">
  <div class='hand'>
    <h1>hello</h1>
  </div>
</script>
