<div class="wait-room-container"></div>

<!-- navbar -->
    <nav class="game-nav">
      <ul id="card-options">
        <li class="sidebar-brand">Table Options</li>
        <li><a id="table-discard-card" href="#">Discard</a></li>
        <li><a id="table-get-card" href="#">Take Card</a></li>
        <li><a id="collect-table-cards" href="#">Take All</a></li>
        <li li style="margin-bottom:0.5em"><a id="table-draw-card" href="#">Draw Card to Table</a></li>

        <li class="sidebar-brand">Hand Options</li>
        <li><a class="passing-player-list" id="hand-pass-button" href="#">Pass to Player</a></li>

        <li><a id="hand-discard-button" href="#">Discard</a></li>
        <li><a id="hand-play-button" href="#">Play</a></li>
        <li><a id="draw-card" href="#">Draw Card</a></li>
      </ul>
    </nav>

  <div class="column">
    <section>
      <div class = "tableclass playingCards simpleCards">
      </div>
    </section>
    <section>
      <div class="player-hand playingCards simpleCards" style="display: none">
      </div>
    </section>
  </div>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/socket_magic.js"></script>
<script>
var userData = {
  username: "<%= username %>",
  roomkey: "<%= roomkey %>",
}
</script>
