 <div class = "container">
  <div class="row">
    <h1> THE GAME </h1>
    <p>Welcome <span id="username"><%= username %></span></p>
    <p>You are in the room: <span id="roomkey"><%= roomkey %></span></p>
  </div>

  <div class="row">
    <p>Players in the game:</p>
    <ul>
      <div class="player-list">
      </div>
    </ul>
  </div>

  <div class="row">
    <div class = "tableclass"></div>
  </div>

  <div class="row">
    <div class="table col-md-8 offset-col-md-2">
      <ul>
        <div class="passing-player-list" style="display: none">
        </div>
      </ul>
    </div>
  </div>

  <div class="row">
    <button id="deal">Deal them cards</button>
    <h4>Hand options:</h4>
    <button id="draw-card" style="display: none">Draw Card</button>
    <button id="pass-card" style="display: none">Pass Card</button>
    <button id="pass-table" style="display: none">Play Card</button>
  </div>

  <div class="row">
    <div class="col-md-10 player-hand">
      <p>Your cards are:</p>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/socket_magic.js"></script>
<script>
  var userData = {
    username: "<%= username %>",
    roomkey: "<%= roomkey %>"
  }
</script>
