<div class = "container" id="splash-page-container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 splash text-center">
      <div class = "logo">
        <!-- <img src="/public/images/stacksondeck-table-view.svg"/> -->
      </div>
    </div>
  </div>
  <div class = "row instructions">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <p>To join a room, enter a username and an existing room key, or make your own to create a room.</p>
      <p>To connect a separate device as a virtual table, click "connect table."</p>
    </div>
  </div>

  <div class="row user-signin">
    <div class="col-xs-10 col-xs-offset-1">
      <form id="join-create" method="POST" action="/join">
        <div class="form-group">
          <label>Username</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="username">
        </div>
        <div class="form-group">
          <label>Room ID</label>
          <input type="text" id="roomId" name="roomId" class="form-control" placeholder="unique identifier for your room">
        </div>
        <div class = "form-group">
          <input type="submit" value="Enter Room" id = "enter-room" class="btn btn-default">
        </div>
        <div class = "form-group">
          <input type ="submit" value = "Connect Table" id = "connect-table" class= "btn btn-default">
        </div>
      </form>
    </div>
  </div>

    <div class="row table-signin">
    <div class="col-xs-10 col-xs-offset-1">
      <form id="table" method="POST" action="/tables">
        <div class="form-group">
          <label>Room Key</label>
          <input type = "text" id="roomId-table" name="roomId" class="form-control" placeholder="room key of existing room">
        </div>
        <div class = "form-group">
          <input type="submit" value="Enter Room as Table" class="btn btn-default">
        </div>
        <div class = "form-group">
          <input type="submit" value="Return to User Sign In" id = "return-user-signin" class="btn btn-default">
        </div>
      </form>
    </div>
  </div>
</div>
<script src = "/public/index_script.js"></script>
<script>
  var roomIdField = document.getElementById('roomId');
  var roomIdTableField = document.getElementById('roomId-table');

  formatroomId = function(){
    this.value = this.value.toUpperCase().split(" ").join("-");
    if (this.value.length > 10) {
      this.value = this.value.slice(0,9);
    }
  }

  roomIdField.onkeyup = formatroomId;
  roomIdTableField.onkeyup = formatroomId;

  var form = document.getElementById("join-create")
  form.onsubmit = function () {
    if (roomIdField.value.slice(-1) === "-"){
      roomIdField.value = roomIdField.value.slice(0,-1);
    }
  }
</script>
