<div class = "container" id="splash-page-container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 splash">
      <h1>Stacks on Deck</h1>
      <p>a simple card game brought to you by the chicago squirrels!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <form id="create" method="POST" action="/games">
        <div class="form-group">
          <label>Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="username">
        </div>
        <input type="submit" value = "Create Room" class="btn btn-default">
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <form id="join" method="POST" action="/join">
        <div class="form-group">
          <label>Username</label>
          <input type = "text" id="username" name="username" class="form-control" placeholder="username">
        </div>
        <div class="form-group">
          <label>Room Key</label>
          <input type = "text" id="roomkey" name="roomkey" class="form-control" placeholder="room key ie: HGCF">
        </div>
        <input type = "submit" value = "Join Room" class="btn btn-default">
      </form>
    </div>
  </div>
</div>
