<html>
  <head>
    <title> Stacks on Deck </title>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/underscore/underscore-min.js"></script>
    <script src="/public/vendor/backbone-min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/vendor/bootstrap.min.css">
    <script src="/public/vendor/bootstrap.min.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
  <!-- backbone js files -->
    <script src="/public/templates/templates.js"></script>
    <script src="/public/models/card.js"></script>
    <script src="/public/collections/hand.js"></script>
    <script src="/public/views/main_page_view.js"></script>
    <script src="/public/init.js"></script>
</html>
