<html>
  <head>
    <title> Stacks on Deck </title>

    <!-- vendor -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/underscore/underscore-min.js"></script>
    <script src="/public/vendor/backbone-min.js"></script>
    <script src="/jquery.finger/dist/jquery.finger.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/vendor/bootstrap.min.css">
    <script src="/public/vendor/bootstrap.min.js"></script>
    <script src="/public/vendor/bootstrap-notify.min.js"></script>

    <!-- css tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <%- body %>

  </body>
  <!-- backbone js files -->
    <script src="/public/templates/templates.js"></script>
    <!-- Card/Hand Views -->
    <script src="/public/models/card.js"></script>
    <script src="/public/collections/hand.js"></script>
    <script src="/public/views/hand_view.js"></script>
    <script src="/public/views/card_view.js"></script>
    <script src="/public/views/hand_button_view.js"></script>
    <!-- Table Views -->
    <script src="/public/collections/table.js"></script>
    <script src="/public/views/table_view.js"></script>
    <script src="/public/views/table_button_view.js"></script>

    <!-- Player/PlayerList Views -->
    <script src="/public/models/player.js"></script>
    <script src="/public/collections/player_list.js"></script>
    <script src="/public/views/current_player_view.js"></script>
    <script src="/public/views/passing_player_view.js"></script>
    <script src="/public/views/current_players_view.js"></script>
    <script src="/public/views/passing_players_view.js"></script>

    <!-- Header Views -->
    <script src="/public/views/header_view.js"></script>

    <script src="/public/init.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/cards.css">
    <link rel="stylesheet" type="text/css" href="/public/css/application.css">
</html>
