<html>
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <title> Stacks on Deck </title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="../public/images/favicon.ico" type="image/x-icon">

        <!-- vendor -->
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="/underscore/underscore-min.js"></script>
        <script src="/public/vendor/backbone-min.js"></script>
        <script src="/jquery.finger/dist/jquery.finger.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/public/vendor/bootstrap.min.css">
        <script src="/public/vendor/bootstrap.min.js"></script>
        <script src="/public/vendor/bootstrap-notify.min.js"></script>
        <!-- css tags -->
        <link rel="stylesheet" type="text/css" href="/public/css/cards.css">
        <link rel="stylesheet" type="text/css" href="/public/css/application.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <!-- backbone js files -->
        <script src="/public/templates/templates.js"></script>
        <!-- Card/Hand Views -->
        <script src="/public/models/card.js"></script>
        <script src="/public/collections/hand.js"></script>
        <script src="/public/views/hand_view.js"></script>
        <script src="/public/views/card_view.js"></script>
        <script src="/public/views/hand_button_view.js"></script>

        <!-- Table Views -->
        <script src="/public/collections/table.js"></script>
        <script src="/public/views/table_view.js"></script>

        <!-- Message Views -->
        <script src="/public/views/message_view.js"></script>

        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-63126624-1', 'auto');
          ga('send', 'pageview');
        </script>
    
    </head>
    <body>
        <%- body %>
    </body>
</html>
