<div class="container table-view">
  <div class="row tableclass">
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/socket_magic.js"></script>
<script>
var userData = {
  username: "table",
  roomkey: "<%= roomkey %>"
}
</script>

