<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/public/vendor/jquery.ui.touch-punch.min.js"></script>
<div class="container-table-view">
  <div class="tableclass table-device-container">
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/socket_magic.js"></script>
<script>
var userData = {
  username: "table",
  roomId: "<%= roomId %>"
}
</script>
<script src="/public/views/table_view_no_flick.js"></script>
<script src="/public/init_table.js"></script>

