html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: url("/public/images/tablebackground.jpg");
  background-position: center;
  overflow-x: no-scroll;
}

a:hover {
  text-decoration: none;
}

/* Fixes weird extra right side spacing on the holding page */
.row {
  margin-left: 0;
  margin-right: 0;
}


.navbar-roomid {
  left: 0;
  color: white;
  text-align: left;
}

.nav-center {
  margin:0;
  float:none;
}

.navbar-inner{
  color: white;
  text-align:center;
  padding: 14.5px 15px;
  font-size: 30px;
  line-height: 21px;
  height: 50px;
}

p, label {
  color: white;
}

.welcome {
  margin-bottom: 3px;
}

#game-page-container {
  margin: auto;
  padding: 0;
}

.table-container {
  overflow-y: scroll;
}

.splash h1 {
  font-weight: bold;
  font-size: 35px;
  color: white;
}

#splash-page-container input[type="submit"]{
  width: 100%;
}

span {
  color: white;
}

ul {
  color: white;
}

h4 {
  color: white;
}
h2 {
  color: white;
  margin-bottom: 5%;
}

.draw-card-buttons {
  border-radius: .4em;
  margin: 10px 0 10px 0;
}
.draw-card-buttons button{
  float: left;
  width: 50%;
  border: 1px solid black;
  color: white;
}
.table-buttons {
  border-radius: .4em;
  margin: 10px 0 10px 0;
}

.table-buttons button {
  width: 100%;
  border: 1px solid black;
  color: white;
}

.hand-buttons {
  border-radius: .4em;
  margin: 10px 0 10px 0;
}

.single-hand-button {
  width: 30%;
  float: left;
}

.hand-buttons button {
  width: 100%;
  border: 1px solid black;
  color: white;
}


/*alerts!*/
.alert-yoonify {
  background-color: #E0E0E0;
  border-color: #6A0D0C;
  color: #6A0D0C;
}
.alert-yoonify > [data-notify="title"] {
  color: #6A0D0C;
  font-weight: bold;
  margin-bottom: 5px;
}
.alert-yoonify > [data-notify="icon"] {
  color: #6A0D0C;
}
.alert-yoonify > [data-notify="progressbar"] {
  display: none;
}
.alert-yoonify [data-notify="dismiss"] {
  color: #6A0D0C;
}
.alert-yoonify > [data-notify="message"] {
  color: #6A0D0C;
}

.welcome {
  text-align: center;
}

.player-list {
  text-align: center;
  margin: auto;
}

.player-list ul {
  padding: 0;
}
.player-list li {
  font-size: 20px;
  list-style-type: none;
  padding: 10px;
  margin-left: 8%;
  border-right: ;
}

h3 {
  color: white;
  font-weight: bold;
  margin-top: 3px;
}

.outer {
  border: 5px solid white;
}

#hand-count {
  height: 392px;
  width: 254px;
  border-radius: 12px;
  background-image: url(data:image/gif;base64,R0lGODlhJAAkAJEAAOjFsezdztOKbL5QKCH5BAAAAAAALAAAAAAkACQAAAL/HC4RAqm/mmLHyHmAbczB11Ea8ombJKSgKo6Z17pXFznmS1JptiX0z3vVhpEKDoUIkoa0olGIUeZUk1RI6Yn2mh/FDAt6frOrRRTqXPpsVLYugzxaVy+YcBdnoWPZOT0E4eckQtZFZBjWoHixQFWl6Nhol6R2p1Okt5TGaEWZA6fjiMdhZgPHeWrTWGVq+jTZg1HYyAEWKLYzmyiGKoUimilz+YYryyTlg5RcDJSAbNx0Q7lMcbIGEyzTK8zVdfVaImzs/QV+prYqWWW2ObkoOApM/Em/rUlIm7fijs8a2EEKEaZ3AsMUgneEU6RcpJbZ27aGHkAO2Ors8xQH1IR0Bn5YnOtVAAA7);
  padding: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.second-hand-count {
  width: auto;
}


#up-arrow {
  color: #5C0D0E;
  cursor: pointer;
}

#down-arrow {
  color: #5C0D0E;
  cursor: pointer;
}

#count {
  font-weight: bold;
  font-size: 75px;
  float: auto;
  color: #222222;
}

.start-game {
  text-align: center;
}

#start-game-btn {
  margin-top: 15px;
  width: 250px;
}
.btn-table-group {
  background-color: #222222;
}

.hand-size-label {
  text-align: center;
}

#sidebar-wrapper {
  margin-left: -250px;
  width: 75px;
}

.game-nav {
  width: 25%;
  max-width: 250px;
}

.overlap{
  margin-right: -30px;
}
.player-list li {
  font-size: 15px;
  list-style-type: none;
  margin-left: 2%;
  padding: 2px;
}
.btn-table {
  white-space: normal;
}

.btn-last {
  margin-bottom: 30px;
}

.game-container {
  width: 100%;`
  height: 100%;
}

.game-nav {
  display: inline-block;
  vertical-align: top;
  background-color: #333333;
  height: 100%;
}

.column {
  display: inline-block;
  vertical-align: top;
  width: 74%;
}

.table-cards {
  overflow-x: scroll;
}

li {
  list-style: none;
}

#card-options {
  padding: 5px;
  height: 95%;
}

.player-hand {
  position: absolute;
  top: 70%;
  height: 30%;
  width: 74%;
  padding-top: 3px;
  padding-left: 3px;
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}

.container-fluid {
  background-color: #222222;
}

.tableclass {
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/public/images/stacksondeck-table-view.svg");
  height: 59%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.table-cards {
  height: 100%;
  overflow: scroll;
  padding-top: 3px;
  padding-left: 3px;
}

.container-table-view {
  height: 85%;
}

.tableclass.table-device-container {
  margin: 5%;
  height: 100%;
  text-align: center;
}

.tableclass.table-device-container .single-card {
  display: inline-block;
}


.help-menu {
  background-color: #222222;
  position: fixed;
  top: 0;
  margin-left: 50%;
  display: none;
  border-radius: 10px;
}

.help-button-container {
  position: fixed;
  margin-left: 94%;
  top: 0;
}

 #card-options ul {
  width: 200px;
  background: #292929;
  color: white;
  list-style: none;
  padding-left: 0;
}

#card-options li {
  padding: 5%;
  border-top: 1px solid #3c3c3c;
}

.sidebar-brand {
  font-size: 140%;
}
#card-options li a {
  font-size: 120%;
}

.logo {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("/public/images/stacksondeck-table-view.svg");
  background-position: center;
  height: 30%;
  margin-top: 3%;
}

.table-signin {
  display: none;
}

.instructions {
  margin-bottom: 5%;
  font-weight: bold;
}


/*For Mobile Views*/

@media (max-width: 768px) {
  body {
    vertical-align: top;
  }
  h2, h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .welcome {
    border-bottom: 3px solid #222222;
  }

  .player-card-count {
    text-align: center;
  }

  #hand-count {
    height: 196px;
    width: 127px;
    margin: auto;
    border-radius: 12px;
    background-image: url(data:image/gif;base64,R0lGODlhJAAkAJEAAOjFsezdztOKbL5QKCH5BAAAAAAALAAAAAAkACQAAAL/HC4RAqm/mmLHyHmAbczB11Ea8ombJKSgKo6Z17pXFznmS1JptiX0z3vVhpEKDoUIkoa0olGIUeZUk1RI6Yn2mh/FDAt6frOrRRTqXPpsVLYugzxaVy+YcBdnoWPZOT0E4eckQtZFZBjWoHixQFWl6Nhol6R2p1Okt5TGaEWZA6fjiMdhZgPHeWrTWGVq+jTZg1HYyAEWKLYzmyiGKoUimilz+YYryyTlg5RcDJSAbNx0Q7lMcbIGEyzTK8zVdfVaImzs/QV+prYqWWW2ObkoOApM/Em/rUlIm7fijs8a2EEKEaZ3AsMUgneEU6RcpJbZ27aGHkAO2Ors8xQH1IR0Bn5YnOtVAAA7);
    padding: 0;
    margin-bottom: 10px;

    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }
  .second-hand-count {
    width: auto;
    height: 190px;
  }

  #up-arrow {
    color: #5C0D0E;
    margin: 0;
    font-size: 4em;
  }

  #down-arrow {
    color: #5C0D0E;
    margin: 0;
    height: 60px;
    font-size: 4em;
    float
  }

  #count {
    font-weight: bold;
    font-size: 60px;
    margin: 0;
    width: 0;
    text-align: center;
    height: 70px;
    color: #222222;
  }

  #card-options ul {
   width: 200px;
   background: #292929;
   color: white;
   list-style: none;
   padding-left: 0;
 }

 #card-options li {
   padding: 4px;
   border-top: 1px solid #3c3c3c;
 }

 .passing-player-list {
  position: absolute;
  right: 25%;
  top: 0;
  text-align: center;
  z-index: 99;
  }

  .pass-list {
    border-radius: 10px;
  }

  .sidebar-brand {
    font-size: 100%;
  }
  #card-options li a {
    font-size: 100%;
  }

.instructions {
  margin-bottom: 5%;
}

.logo {
  background-size: 120%;
  background-repeat: no-repeat;
  background-image: url("/public/images/stacksondeck-table-view.svg");
  background-position: center;
  height: 20%;
  margin-top: 3%;
  margin-bottom:-8%;
}

}
