p, label {
    color: white;
}

#splash-page-container {
  max-width: 480px;
}

.splash {
  margin-top: 1em;
}

.splash h1 {
  color: white;
  font-weight: bold;
}

.jumbotron p {
  color: #6A0D0C;
}

span {
    color: white;
}

ul {
    color: white;
}

h4 {
    color: white;
}
h3 {
    color: white;
}

.logo {
  display: inline-block;
  width: 78%;
  text-align: center;
  background-color: orange;
}

.hand-buttons {
  border-radius: .4em;
  margin: 20px 0 75px 0;
  }

.single-hand-button {
  width: 30%;
  float: left;
}

.hand-buttons button {
  width: 100%;
  border: 1px solid black;
  color: white;
  }

/*alerts!*/
.alert-yoonify {
  background-color: #E0E0E0;
  border-color: #6A0D0C;
  color: #6A0D0C;
}
.alert-yoonify > [data-notify="title"] {
  color: #6A0D0C;
  font-weight: bold;
  margin-bottom: 5px;
}
.alert-yoonify > [data-notify="icon"] {
  color: #6A0D0C;
}
.alert-yoonify > [data-notify="progressbar"] {
  display: none;
}
.alert-yoonify [data-notify="dismiss"] {
  color: #6A0D0C;
}
.alert-yoonify > [data-notify="message"] {
  color: #6A0D0C;
}

.waiting-room div{
/*  text-align: center;
*/}

li {
  list-style-type: none;
}

.card-count-container {
  position: relative;
}

.up-arrow {
  color: #8D1B0F;
  position: absolute;
  left: 106px;
  top: 20px;
}

.down-arrow {
  color: #8D1B0F;
  position: absolute;
  left: 106px;
  bottom: 20px;
}

#hand-count {
  height: 392px;
  width: 254px;
}

.hand-count-number {
  position: relative;
  top: 120px;
  text-align: center;
  left: 106px;
  width: 43px;
}

.hand-count-number h1 {
  font-weight: bold;
  font-size: 75px;
}
