body {
  /*background-color: #222;*/
  /*  background-color: #27ae60;*/
  background: url("/public/images/tablebackground.jpg");
  font-family: "Times New Roman", Times, serif;
}


.active {
  border: solid 1px red;
}

.card {
  width: 127px;
  height: 196px;
  border-radius: 12px;
  background-color: white;
  background-image: linear-gradient(75deg, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.0) 60%);
  position: relative;
  float: left;
  margin: 10px;
  box-shadow: 1px 1px 4px #fff;
}

.red {
  color: red;
}


.inner {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 6%;
}

.rank-color {
  width: 15%;
  height: 25%;
  position: relative;
  top: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 15px;
}

.rotated-rank-color {
  left: 84%;
  top: 44%;
}

.fg-container {
  width: 65%;
  height: 168px;
  top: 6%;
  text-align: center;
  font-size: 45px;
}

.ajqk {
  line-height: 168px;
  font-size: 100px;
}


.rtt {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.two {
  border 1px dashed black;
  text-align: center;
  height: 50%;
  width: 100%;

  line-height: 50px;
}

.three {
  text-align: center;
  line-height: 55px;
}

.seven {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
}

.eight {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.nine {
  line-height: 40px;
}

.nineth {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}

.ten {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
}

.tenth {
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
}

.bg-pattern {
  width: 80%;
  height: 86%;
  border-radius: 13px;
  border: 2px solid red;
  background-color: #fff;
  background-image:
  repeating-linear-gradient(45deg,
      transparent 1px, transparent 1px, transparent 3px, transparent 4px,
      red 1px, red 5px, transparent 3px, transparent 8px,
      red 1px, red 9px, transparent 3px, transparent 12px,
      red 1px, red 13px, transparent 3px, transparent 16px,
      red 1px, red 17px, transparent 3px, transparent 20px,
      red 1px, red 21px, transparent 3px, transparent 24px,
      red 1px, red 25px, transparent 12px, transparent 37px
    ),
   repeating-linear-gradient(135deg,
      transparent 1px, transparent 1px, transparent 3px, transparent 4px,
      red 1px, red 5px, transparent 3px, transparent 8px,
      red 1px, red 9px, transparent 3px, transparent 12px,
      red 1px, red 13px, transparent 3px, transparent 16px,
      red 1px, red 17px, transparent 3px, transparent 20px,
      red 1px, red 21px, transparent 3px, transparent 24px,
      red 1px, red 25px, transparent 12px, transparent 37px
  ),
  linear-gradient(75deg, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.0) 60%);
}


.card-overlap{
  position: fixed;
  width: 60%;
  left:20%;
  bottom: 0;
}

.card-overlap .card {
  margin-right: -113px;
}
