<div class="rank-color">8 <%= suit %></div>
<div class="inner fg-container">
  <div class="two"><%= suit %>&nbsp;&nbsp;<%= suit %> <%= suit %>&nbsp;&nbsp;<%= suit %></div>
  <div class="two rtt"><%= suit %>&nbsp;&nbsp;<%= suit %></div>
  <div class="seven"><%= suit %></div>
  <div class="eight rtt"><%= suit %></div>
</div>
<div class="rank-color rotated-rank-color rtt">8 <%= suit %></div>