<div class="rank-color">9 <%= suit %></div>
<div class="inner fg-container">
  <div class="two nine"><%= suit %>&nbsp;&nbsp;<%= suit %><br><%= suit %>&nbsp;&nbsp;<%= suit %></div>
  <div class="two nine rtt"><%= suit %>&nbsp;&nbsp;<%= suit %><br><%= suit %>&nbsp;&nbsp;<%= suit %></div>
  <div class="nineth"><%= suit %></div>
</div>
<div class="rank-color rotated-rank-color rtt">9 <%= suit %></div>