<div class="single-hand-button"><button class="btn btn-default" id="hand-discard-button" >Discard</button></div>
<div class="single-hand-button"><button class="btn btn-default" id="hand-pass-button" >Pass</button></div>
<div class="single-hand-button"><button class="btn btn-default" id="hand-play-button">Play</button></div>
