<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="room-key-div">
    <div><p class="navbar-brand">Room: <%= userData.roomkey %></p></div>

      <div class="navbar-inner">
        <div class="navbar-center inline">
      <p>Stacks on Deck</p>
    </div>
  </div>
  </div>
</nav>