<button class="btn btn-default" id="table-get-card">Get Card</button>
<button class="btn btn-default" id="table-discard-card">Discard Card</button>
<button class="btn btn-default" id="collect-table-cards">Take All Cards</button>